<extend name="Base/common"/>
<block name="body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="modbox2 mt20">
                    <ul role="tableftmod" class="nav nav-tabs">
                        <li class="active" role="presentation"><a href=""><i class="fa fa-caret-square-o-right"></i> 影片介绍</a></li>
                        <li role="presentation"><a href="{:U('Plot/detail?dramaid='.$drama['id'])}"><i class="fa fa-list"></i> 分集剧情</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media clearfix">
                                <div class="pull-left hidden-xs">
                                    <img src="{$drama.logo|get_cover='path'}"/>
                                    <div class="info">
                                        <p>地区：<a href="{:U('Drama/search?location='.$drama['region'])}" target="_blank">{$drama.region}</a></p>
                                        <p>年代：<a href="{:U('Drama/search?year='.$drama['age'])}" target="_blank">{$drama.age}</a></p>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        {$drama.name}<span><notempty name="drama.alias"><span>（别名：{$drama.alias}）</span></notempty></span>
                                        <php>if($drama['latest_plot_index'] && ($drama['latest_plot_index']>=$drama['plots'])){</php>
                                        <button type="button" class="btn btn-success btn-xs disabled"><i class="fa fa-check"></i> 已完结,共{$drama.plots}集</button>
                                        <php>}else if($drama['latest_plot_index'] && ($drama['latest_plot_index']<$drama['plots'])){</php>
                                        <button type="button" class="btn btn-warning btn-xs disabled"><i class="fa fa-repeat"></i> 更新中,更新至{$drama.latest_plot_index}集</button>
                                        <php>}else{</php>
                                        <button type="button" class="btn btn-default btn-xs disabled"><i class="fa fa-clock-o"></i> 待更新,共{$drama.plots}集</button>
                                        <php>}</php>
                                    </h4>
                                    <p>
                                    <php>$performers = explode(" ",$drama['performers']);</php>
                                    主演：
                                    <volist name="performers" id="performer">
                                        <a href="{:U('Drama/performer?performer_name='.$performer)}" target="_blank">{$performer}</a>&nbsp;
                                    </volist>
                                    </p>
                                    <p>
                                    <php>$categorys = explode(" ",$drama['categorys']);</php>
                                    类型：
                                    <volist name="categorys" id="category">
                                        <a href="{:U('Drama/performer?category='.$category)}" target="_blank">{$category}</a>&nbsp;
                                    </volist>
                                    </p>
                                    <p id="drama_summary_content">
                                    <php>$summarylen = strlen($drama['summary']);</php>
                                    <gt name="summarylen" value="540">
                                    简介：{$drama.summary|msubstr=0,180}<a href="javascript:;" id="drama_summary">查看更多</a>
                                    <else />
                                    简介：{$drama.summary}
                                    </gt>

                                    </p>
                                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到百度新首页" href="#" class="bds_bdhome" data-cmd="bdhome"></a><a title="分享到复制网址" href="#" class="bds_copy" data-cmd="copy"></a><a title="分享到打印" href="#" class="bds_print" data-cmd="print"></a></div>
                                    <script>window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24"}, "share": {}};
                                        with (document)
                                            0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="episode">
                                <h3>剧集列表</h3>
                                <php>$plotnum =$drama['plots']+1; </php>
                                <for start="1" end="$plotnum" step="1" name="index" >
                                    <egt name="drama.latest_plot_index" value="$index">
                                        <a class="btn btn-default btn-xs" href="{:U('Plot/detail?dramaid='.$drama['id'].'&plotindex='.$index)}" role="button">第{$index}集</a>&nbsp;
                                    </egt>
                                </for>
                            </div> 
                        </div>
                    </div>

                    <!--评论开始-->
                    <!--评论-->
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-comments-o"></i> 吐槽一下 </div>
                        <div class="panel-body">
                            <!-- 多说评论框 start -->
                            <div class="ds-thread" data-thread-key="{$drama.id}" data-title="{$drama.name}" data-url="__SITE__{:U('Drama/detail?&dramaid='.$drama['id'])}"></div>
                            <!-- 多说评论框 end -->
                            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                            <script type="text/javascript">
                                var duoshuoQuery = {short_name: "juqingku"};
                                (function() {
                                    var ds = document.createElement('script');
                                    ds.type = 'text/javascript';
                                    ds.async = true;
                                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                    ds.charset = 'UTF-8';
                                    (document.getElementsByTagName('head')[0]
                                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                                })();
                            </script>
                            <!-- 多说公共JS代码 end -->
                        </div>
                    </div>
                    <!--评论结束-->
                    <div class="panel panel-default guesslike">
                        <div class="panel-heading"><i class="fa fa-heart"></i> 猜你会喜欢</div>
                        <div class="panel-body">
                            <volist name="guesslikes" id="like">
                                <div  class="col-md-2 col-xs-6">
                                    <div class="thumbnail" style="border:none;">
                                        <a href="{:U('Drama/detail?&dramaid='.$like['id'])}" target="_blank"><img src="{$like.logo|get_cover='path'}"/></a>
                                        <div class="caption">
                                            <p><a href="{:U('Drama/detail?&dramaid='.$like['id'])}" target="_blank" style="font-size:16px;text-align: center;">{$like.name|msubstr=0,6,'utf-8',false}</a></p>
                                        </div>
                                    </div>
                                </div>  
                            </volist>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <include file="Public/right" />
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#drama_summary").click(function() {
                $("#drama_summary_content").load("{:U('Drama/ajaxGetSummary?dramaid='.$drama['id'])}");
            });
        })
    </script>
</block>