<extend name="Base/common"/>
<block name="seo">
    <title>{$performer.performer_name} － 演员介绍 - {:C('WEB_SITE_TITLE')}</title>
    <meta name="keywords" content="{$performer_name},{$performer_name}的作品, {$performer_name}的影视作品" />
    <meta name="description" content="{$performer.introduction|strip_tags|msubstr=0,180}" />
</block>
<block name="body">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user"></i> {$performer.performer_name} - 简介</h3>
                    </div>
                    <div class="panel-body">
                        <notempty name="performer.introduction">
                            {$performer.introduction}
                        <else />
                        暂无介绍：）
                        </notempty>
                    </div>
                </div>
                <p class="performer_related"><i class="fa fa-caret-square-o-right"></i> {$performer_name}出演的影视作品</p>
                <div class="leftmod">
                    <volist name="dramalist" id="drama">
                        <div class="media clearfix">
                            <div class="pull-left hidden-xs">
                                <a href="{:U('/subject/'.$drama['id'])}" target="_blank">
                                    <img src="{$drama.logo|get_cover='path'}"/>
                                </a>
                                <div class="info">
                                    <p class="image-text">更新至{$drama.latest_plot_index}集 共{$drama.plots}集</p>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{:U('/search?type='.$drama['type'])}" class="typename">[{$drama.type|get_drama_typename}]</a> <a href="{:U('/subject/'.$drama['id'])}" target="_blank">{$drama.name}</a><notempty name="drama.alias"><span>（别名：{$drama.alias}）</span></notempty></h4>
                                <div class="extinfo hidden-xs">
                                    <span>
                                        <php>$performers = explode(" ",$drama['performers']);</php>
                                        主演：
                                        <volist name="performers" id="performer">
                                            <a href="{:U('/performer/'.$performer)}" target="_blank">{$performer}</a>&nbsp;
                                        </volist>
                                    </span>
                                    <span>地区：<a href="{:U('/search?location='.$drama['region'])}" target="_blank">{$drama.region}</a></span>
                                    <span>年代：<a href="{:U('/search?year='.$drama['age'])}" target="_blank">{$drama.age}</a></span>
                                </div>
                                <p>{$drama.latest_plot_content|msubstr=0,140}</p>
                                <div class="more">
                                    <a href="{:U('/subject/'.$drama['id'])}" target="_blank" class="pull-right">查看全文</a>
                                    <span class="time"><span class="glyphicon glyphicon-time"></span> 更新于 {$drama.update_time|friendlyDate}</span>
                                </div>
                            </div>
                        </div>
                    </volist>
                    <div class="text-center">
                        {$_page}

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <include file="Public/right" />
            </div>
        </div>
    </div>
</block>