<extend name="Base/common"/>
<block name="seo">
    <title>{$drama.name}第{$plotindex}集剧情介绍 - {:C('WEB_SITE_TITLE')}</title>
    <meta name="keywords" content="{$drama.name}剧情,{$drama.name}第{$plotindex}集剧情介绍,{$drama.name}分集剧情介绍" />
    <empty name='plot.content'>
        <meta name="description" content="{$drama.summary|msubstr=0,180}" />
    <else/>
        <meta name="description" content="{$plot.content|msubstr=0,180}" />
    </empty>
</block>

<block name="body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="modbox2 mt20">
                    <ul role="tableftmod" class="nav nav-tabs">
                        <li role="presentation"><a href="{:U('/subject/'.$drama['id'])}"><i class="fa fa-caret-square-o-right"></i> 影片介绍</a></li>
                        <li class="active" role="presentation"><a href="{:U('/plot/'.$drama['id'].'/1')}"><i class="fa fa-list"></i> 分集剧情</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media clearfix">
                                <div class="pull-left hidden-xs">
                                    <img src="{$drama.logo|get_cover='path'}"/>
                                    <div class="info">
                                        <p>地区：<a href="{:U('/search?location='.$drama['region'])}" target="_blank">{$drama.region}</a></p>
                                        <p>年代：<a href="{:U('/search?year='.$drama['age'])}" target="_blank">{$drama.age}</a></p>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        {$drama.name}<span><notempty name="drama.alias"><span>（别名：{$drama.alias}）</span></notempty></span>
                                        <php>if($drama['latest_plot_index'] && ($drama['latest_plot_index']>=$drama['plots'])){</php>
                                        <button type="button" class="btn btn-success btn-xs disabled"><i class="fa fa-check"></i> 已完结,共{$drama.plots}集</button>
                                        <php>}else if($drama['latest_plot_index'] && ($drama['latest_plot_index']<$drama['plots'])){</php>
                                        <button type="button" class="btn btn-warning btn-xs disabled"><i class="fa fa-repeat"></i> 更新中,更新至{$drama.latest_plot_index}集</button>
                                        <php>}else{</php>
                                        <button type="button" class="btn btn-default btn-xs disabled"><i class="fa fa-clock-o"></i> 待更新,共{$drama.plots}集</button>
                                        <php>}</php>
                                    </h4>
                                    <p>
                                    <php>$performers = explode(" ",$drama['performers']);</php>
                                    主演：
                                    <volist name="performers" id="performer">
                                        <a href="{:U('/performer/'.$performer)}" target="_blank">{$performer}</a>&nbsp;
                                    </volist>
                                    </p>
                                    <p>
                                    <php>$categorys = explode(" ",$drama['categorys']);</php>
                                    类型：
                                    <volist name="categorys" id="category">
                                        <a href="{:U('/search?category='.$category)}" target="_blank">{$category}</a>&nbsp;
                                    </volist>
                                    </p>
                                    <p id="drama_summary_content">
                                    <php>$summarylen = strlen($drama['summary']);</php>
                                    <gt name="summarylen" value="540">
                                    简介：{$drama.summary|msubstr=0,180}<a href="javascript:;" id="drama_summary">查看更多</a>
                                    <else />
                                    简介：{$drama.summary}
                                    </gt>

                                    </p>
                                    {:C('SHARE_JS_PLUGIN')}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="episode">
                                <h3>剧集列表</h3>
                                <php>$plotnum =$drama['plots']+1; </php>
                                <for start="1" end="$plotnum" step="1" name="index" >
                                    <egt name="drama.latest_plot_index" value="$index">
                                        <eq name="plot.plotindex" value="$index">
                                        <a class="btn btn-success btn-xs" href="{:U('/plot/'.$drama['id'].'/'.$index)}" role="button">第{$index}集</a>&nbsp;
                                        <else />
                                        <a class="btn btn-default btn-xs" href="{:U('/plot/'.$drama['id'].'/'.$index)}" role="button">第{$index}集</a>&nbsp;
                                        </eq>
                                    </egt>
                                </for>
                            </div> 
                            <h5>{$drama.name}第{$plotindex}集</h5>
                            <div class="content">
                                <empty name="plot.content">
                                    抱歉！剧情还未更新，小编会尽快更新，请按 Ctrl+D 键收藏我们以便下次查看 :)
                                <else/>
                                {$plot.content}
                                </empty>
                            </div>
                            <div class="control">
                                <php>
                                    $preplot = max($plot['plotindex']-1,1);
                                    $nextplot = min($plot['plotindex']+1,$drama['latest_plot_index']);
                                </php>
                                <a href="{:U('/plot/'.$drama['id'].'/'.$preplot)}" class="btn btn-success btn-sm" role="button"><i class="fa fa-long-arrow-left"></i> 上一集</a> 
                                <a href="{:U('/plot/'.$drama['id'].'/'.$nextplot)}" class="btn btn-success btn-sm" role="button">下一集 <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--评论-->
                    <div class="panel panel-default mod_comments">
                        <div class="panel-heading"><i class="fa fa-comments-o"></i> 吐槽一下</div>
                        <div class="panel-body">
                            <!-- 多说评论框 start -->
                            <div class="ds-thread" data-thread-key="{$drama.id}" data-title="{$drama.name}" data-url="__SITE__{:U('/subject/'.$drama['id'])}"></div>
                            <!-- 多说评论框 end -->
                            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                            <script type="text/javascript">
                                var duoshuoQuery = {short_name: "juqingku"};
                                (function() {
                                    var ds = document.createElement('script');
                                    ds.type = 'text/javascript';
                                    ds.async = true;
                                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                    ds.charset = 'UTF-8';
                                    (document.getElementsByTagName('head')[0]
                                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                                })();
                            </script>
                            <!-- 多说公共JS代码 end -->

                        </div>
                    </div>
                    <div class="panel panel-default guesslike">
                        <div class="panel-heading"><i class="fa fa-heart"></i> 猜你会喜欢</div>
                        <div class="panel-body">
                            <volist name="guesslikes" id="like">
                                <div  class="col-md-2 col-xs-6">
                                    <div class="thumbnail" style="border:none;">
                                        <a href="{:U('/subject/'.$like['id'])}" target="_blank"><img src="{$like.logo|get_cover='path'}"/></a>
                                        <div class="caption">
                                            <p><a href="{:U('/subject/'.$like['id'])}" target="_blank" style="font-size:16px;text-align: center;">{$like.name|msubstr=0,6,'utf-8',false}</a></p>
                                        </div>
                                    </div>
                                </div>  
                            </volist>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <include file="Public/right" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#drama_summary").click(function() {
                $("#drama_summary_content").load("{:U('Drama/ajaxGetSummary?dramaid='.$plot['dramaid'])}");
            });
        })
    </script>
</block>